body {
    font-family: Georgia, Palatino, Serif;
}

a {
    text-decoration: underline;
    color: #a00;
    cursor: pointer;
}

#content {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
